:root {
  --font-family-base: "Times New Roman", Times, serif;

  --container-width: 1400px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  @include mobile {
    --container-padding-x: 10px;
  }

  --navbar-height: 60px;

  /*mobile*/
  @include mobile {
    --navbar-height: 93px;
  }
}
