/* Button.module.scss */
@import "../../../app/styles/mixins/mixins";

.Button {

  border-radius: 5px;
  height: 30px;
  font-weight: 600;

  &.default_theme {
    background-color: var(--background-button-default);
  }

  &.reject_theme {
    background-color: #cc3333;
  }

  &.disabled_theme {
    background-color: var(--background-button-default);
    opacity: 0.5;
  }
}
