@import "../../../../app/styles/media/media";

.Sidebar {
  position: absolute;
  top: var(--navbar-height);
  left: 0;

  bottom: 0;
  z-index: 1;

  min-height: 250px;
  width: var(--sidebar-width);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;

  background-color: var(--background-color-sidebar);

  border-right: var(--border);

  @include tablet {
    display: none;
  }

  ul {
    width: 100%;
  }

  li {
    width: 100%;
  }
}
