@import "../../../../app/styles/media/media";

.Sidebar {
  position: absolute;
  top: var(--navbar-height);
  left: 0;

  bottom: 0;
  z-index: 1;

  min-height: 250px;
  width: var(--sidebar-width);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;

  background-color: var(--background-color-sidebar);

  @include tablet {
    top: 50%;
    bottom: auto;
    left: auto;

    justify-content: center;

    transform: none;

    transform: translateY(-50%);
  }

  @include mobile {
    top: 50%;
    left: auto;

    justify-content: center;

    transform: none;

    transform: translateY(-50%);
  }

  ul {
    width: 100%;
  }

  li {
    width: 100%;
  }
}
