.SidebarItem {
  position: relative;

  height: 60px;
  width: 100%;
  max-width: 60px;

  margin: 3px auto 3px auto;

  text-align: center;

  border-radius: var(--border-radius);

  &:hover {
    background: var(--background-color-sidebar-item-hover);
  }
}

.SidebarItem svg {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
