@import "../../../app/styles/media/media";

.Content {
  display: grid;
  grid-template-columns: 30% auto;

  column-gap: 100px;

  margin-top: 50px;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.image {
  min-height: 80vh;

  @include mobile {
    min-height: 40vh !important;
  }
}
