.ArticleDetailsImageBlockComponent {
  margin-bottom: 12px;
  margin-top: 25px;
}

.caption {
  margin-top: 12px;
  opacity: var(--text-opacity);
  text-transform: uppercase;
  text-align: justify;
}
