.ArticleDetailsImageBlockComponent {
  margin-top: 25px;
  margin-bottom: 12px;

  > .caption {
    margin-top: 12px;

    text-align: justify;
    text-transform: uppercase;

    opacity: var(--text-opacity);
  }
}
