.ProfilePageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 36px;
}

.edit_button {
}

.reject_button {
    margin-right: 10px;
}

.button_group {

    
}
 
