.Input {
  > .placeholder {
    margin-block: 6px;
  }

  > .input {
    display: block;

    height: 30px;
    min-width: 100%;

    padding-left: 10px;

    outline: none;
    border: none;

    border-radius: 5px;

    box-shadow: inset 0 0 0 1.5px var(--background-shadow-color-input-default);

    background-color: inherit;

    &::placeholder {
      color: var(--text-color);
    }

    &:hover {
      box-shadow: inset 0 0 0 2px var(--background-shadow-color-input-hover); /* Темно-серая внутренняя граница при наведении */
    }

    &:focus {
      box-shadow: inset 0 0 0 2px var(--background-shadow-color-input-focus); /* Фиолетовая внутренняя граница при фокусе */
    }
  }
}
