.Skeleton {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background: var(--color-skeleton-background);
  overflow: hidden;
  box-shadow: var(--box-shadow-image);
}

.Skeleton::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: var(--skeleton-gradient);
  animation: load 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
