.ArticlePageFilters {
  margin-top: 30px;
  margin-bottom: 42px;

  justify-content: space-between;

  > .FiltersPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.sceleton {
  margin-top: 11px;
}