.dark_theme {
  --color-background: rgb(16, 14, 16);
  --color-navbar: rgb(24, 24, 27);
  --color-sidebar: rgba(24, 24, 27, 1);
  --color-sidebar-tablet: rgba(24, 24, 27, 0.5);
  --color-text: rgb(255, 255, 255);
  --color-icon-default: #fff;
  --color-icon-active: #9147ff;
  --color-modal: rgb(24, 24, 27);
  --color-input-default-shadow: #fff;
  --color-input-hover-shadow: rgb(103, 103, 107);
  --color-input-focus-shadow: #9147ff;
  --color-sidebar-item-hover: rgba(45, 45, 45, 0.4);
  --color-dropdown-menu: rgba(37, 37, 37, 0.95);
  --color-avatar-border: rgb(255, 255, 255);
  --color-dropdown-shadow: rgba(255, 255, 255, 0.3);
  --color-border: rgba(255, 255, 255, 0.3);
  --color-button-default: #9147ff;
  --color-box-shadow: rgb(255, 255, 255);

  --background-color: var(--color-background);
  --background-color-navbar: var(--color-navbar);
  --background-color-sidebar: var(--color-sidebar);

  @include tablet {
    --background-color-sidebar: var(--color-sidebar-tablet);
  }

  --text-color: var(--color-text);

  --background-color-icon-default: var(--color-icon-default);
  --background-color-icon-active: var(--color-icon-active);

  --background-color-modal: var(--color-modal);

  --background-shadow-color-input-default: var(--color-input-default-shadow);
  --background-shadow-color-input-hover: var(--color-input-hover-shadow);
  --background-shadow-color-input-focus: var(--color-input-focus-shadow);

  --background-color-sidebar-item-hover: var(--color-sidebar-item-hover);

  --background-color-dropdown-menu: var(--color-dropdown-menu);
  --border-color-avatar: 0 0 0.133rem var(--color-avatar-border);

  --background-shadow-color-dropdown: var(--color-dropdown-shadow);

  --text-opacity: 0.4;

  --border-color: var(--color-border);

  --border: 1px solid var(--border-color);

  --background-button-default: var(--color-button-default);

  --box-shadow-image: 0 0 0.133rem var(--color-box-shadow);

  --skeleton-gradient: linear-gradient(
    90deg,
    rgba(145, 71, 255, 0) 0%, 
    rgba(145, 71, 255, 0.2) 20%, 
    rgba(145, 71, 255, 0.4) 50%, 
    rgba(145, 71, 255, 0.2) 80%, 
    rgba(145, 71, 255, 0) 100% 
  );

}
