.light_theme {
  --color-gray-light: #ececec;
  --color-white: rgba(255, 255, 255, 1);
  --color-white-transparent: rgba(255, 255, 255, 0.5);
  --color-black: rgba(0, 0, 0, 1);
  --color-black-semi: rgba(0, 0, 0, 0.5);
  --color-black-opacity-30: rgba(0, 0, 0, 0.3);
  --color-gray-dark-1: rgb(103, 103, 107);
  --color-gray-dark-2: rgb(91, 91, 94);
  --color-sidebar-item-hover: rgba(45, 45, 45, 0.4);
  --color-background: rgb(228, 228, 228);
  --color-button-default: rgb(255, 214, 80);

  --background-color: var(--color-background);
  --background-color-navbar: var(--color-gray-light);
  --background-color-sidebar: var(--color-gray-light);

  @include tablet {
    --background-color-sidebar: var(--color-white-transparent);
  }

  --background-color-icon-default: var(--color-black-semi);
  --background-color-icon-active: var(--color-black);

  --background-color-modal: var(--color-white);

  --background-shadow-color-input-default: var(--color-gray-dark-1);
  --background-shadow-color-input-hover: var(--color-gray-dark-2);
  --background-shadow-color-input-focus: var(--color-black);

  --background-color-sidebar-item-hover: var(--color-sidebar-item-hover);

  --background-color-dropdown-menu: var(--color-gray-light);

  --background-shadow-color-dropdown: var(--color-black-opacity-30);

  --text-opacity: 0.7;

  --border-color-avatar: 0 0 0.133rem var(--color-black);

  --border-color: var(--color-black-opacity-30);

  --border: 1px solid var(--border-color);

  --text-color: var(--color-black);

  --background-button-default: var(--color-button-default);

  --box-shadow-image: 0 0 0.133rem var(--color-black);

  --skeleton-gradient: linear-gradient(
    90deg,
    rgba(255, 214, 80, 0) 0%,
    rgba(255, 214, 80, 0.2) 20%,
    rgba(255, 214, 80, 0.8) 50%,
    rgba(255, 214, 80, 0.2) 80%,
    rgba(255, 214, 80, 0) 100%
  );
}
