.ArticleListItem {
  .Figure {
    > .FigureCaption {
      > .title {
        margin-block: 5px;
      }

      > .button_type {
        margin-top: 14px;
        margin-right: 10px;
      }
    }
  }
}
