.ErrorPage {
  > .ErrorInner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    max-width: 1200px;
    margin-inline: auto;

    > .Description {
      margin-top: 150px;

      > .subtitle {
        width: 100%;
        max-width: 54%;
      }

      > .button {
        margin-top: 8px;
      }
    }
  }
}
