@import "../../../../../app/styles/media/media";

.MainForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  overflow: hidden;
  width: 100%;
}

.header_title {
  margin-bottom: 10px;
}

.header {
  margin-top: 15px;
  margin-bottom: 22px;
}

footer {
  margin-top: auto;

  button {
    margin-left: 10px;
  }
}
