.MainForm {
  min-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header_title {
  margin-bottom: 10px;
}

.header {
  margin-top: 15px;
  margin-bottom: 22px;
}

footer {
  margin-top: auto;
}
