@import "../../../app/styles/media/media";

.Header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  height: var(--navbar-height);

  background-color: var(--background-color-navbar);

  border-bottom: var(--border);

  .HeaderInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 12px;

    @include mobile {
      flex-wrap: wrap;

      row-gap: 10px;

      padding-block: 10px;
    }

    > .HeaderPanel {
      display: flex;
      align-items: center;

      button {
        margin-left: 5px;
      }
    }
  }
}

.sidebar_button {
  @include tablet-above {
    display: none;
  }
}
