@import "../../../app/styles/media/media";

.MainPage {
  > .Intro {
    > .IntroInner {
      > .title {
        width: 40%;

        padding-top: 140px;

        @include tablet {
          width: 100%;

          padding-top: 30px;
        }

        @include mobile {
          width: 100%;

          padding-top: 20px;
        }
      }

      > .subtitle {
        width: 30%;

        padding-top: 27px;
        padding-bottom: 120px;

        @include tablet {
          width: 100%;

          padding-bottom: 30px;
        }
        @include mobile {
          width: 100%;

          padding-bottom: 5px;
        }
      }
    }
  }
  > .Releases {
    > .new_releases {
      padding-block: 46px;
    }

    > .ReleasesPanel {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 30px;

      .link {
        text-decoration: underline;
      }
    }
  }
}
